--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
python-multipart
langgraph
langchain
langchain-huggingface
huggingface_hub
transformers
torch==2.2.2+cpu
pillow
requests
python-dotenv
cloudinary